<%# the partials which point to the header.ejs for the code for styling %>
<%- include("partials/header.ejs") %>
<div>
<h1>Create Post</h1>
<form action="/post/submit" method="POST">
  <input name="name" type="text" class="feedback-input" placeholder="Name" />
  <input name="title" type="text" class="feedback-input" placeholder="Title" />
  <textarea name="message" type="text" class="feedback-input" placeholder="Comment"></textarea>
  <input type="submit" value="Post this to the world!" />
</form>
</div>
<%- include("partials/footer.ejs") %>