</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <p>Time Halts until I get a job in the past in 2017</p><br>
  <p>Copyright © <%= new Date().getFullYear()+1; %></p>
</footer>
</body>

</html>