<%- include("partials/header.ejs") %>


  <h1>Home Page</h1>

  <p>●	Java Full Stack Developer with 5 years of experience always willing to learn new technologies and creating web applications with Spring and AWS adept with all phases of the Software Development Life Cycle progress gathering requirements, designing, developing, documenting, testing and deployment. 
    ●	Organized data by using Data Structures and Algorithms, Stream API , Collections such as Singly Linked Lists, Doubly Linked Lists, Queues, Deques, Arrays, Vectors, Trees and,  Maps
    ●	Seasoned Java Developer with hands on experience optimizing code developing easy to read code implementing Design Patterns like Factory, and Singleton.    
    ●	Provided scalability and structure for large scale websites using MVC architectural design pattern structure enhancing performance using multithreading and caching.
    ●	Implemented and documented backend framework connections to external web services using Rest or SOAP APIs that return Serialized data back as XML or JSON files for Angular consumption.
    ●	Well versed in Spring 5, Boot, Security, REST, Actuator, Swagger, Hal browser. 
    ●	Tested APIs using POSTMAN
    ●	Exposure to DevOps technologies using AWS EC2, IAMs, JENKINS for automation, Docker to create containers and developed with the team using GIT for version control and Jira for Project Management of bugs. 
    
  </p>
  <p>
    ●	Secured APIs using Oauth 2.0, Spring Security by filters, JWT, to test and secure REST API endpoints with Hashing, Bcrypt and Spring AOP with @AfterReturning aspect for logging.
    ●	Subscribed to Web Services Subscriptions, Injections, Microservices, Model Interfaces and optimizing performance using Microservices architectural design for versatility and scalability.
    ●	Designed and optimized MySQL, MongoDB Databases using Hibernate ORM,  Spring Data , JPA, 
    ●	Created Prepared statements for java to communicate with a database and store data long-term
    ●	Optimized Database by using normalization of tables, Joins, Foreign Keys, Store Procedures, Indexing, partitioning
    ●	Developed Front End Technologies using HTML, CSS, SASS, JavaScript, TypeScript, and BootStrap
    ●	Used Front End Frameworks and Optimized website performance using Angular’s Single Page Application to dynamically render in an Index file powered by client side rendering reducing the load to the server.    
    ●	Designed template driven forms to create Front End Authentication and Authorization.  Also designed back end forms using Reactive forms.
    ●	Used Angular Components to implement parent child hierarchy and used MVC to create structure for scalability to build large scale web sites.
    ●	Connected Web Services and returning Observables for Angular consumption and managed the flow of angular components to views using Angular Lifecycle Hooks, Directives, Data Flow like one way binding, two way binding
    ●	Efficient team based development with Agile Methodologies of SCRUM using JIRA
    ●	Optimized Servers using Auto-scaling and Auto-balancing.  Vertically Horizontally. 
    ●	Created event driven lambda functions to manage S3 buckets and RDS databases without a Ec2 server/instance.
    </p>

  <%- include("partials/footer.ejs") %>